footer.footer 
    .footer-img-div 
        img.footer-img(alt='Natours Logo' src='/img/logo-green.png')
    ul.footer-list 
        //- li:a is same as 'a' inside li EG:- li
        //-                                    a(href='#') 

        li: a(href='#') About us
        li: a(href='#') Download apps
        li: a(href='#') Become a guide
        li: a(href='#') Careers
        li: a(href='#') Contact

    p.footer-copyright © by AK Productions.Sincere thanks to Jonas Schmedtmann
